*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.sidebar {
    position: fixed;
    width: 250px; 
    height: 100%; 
    font-size: 20px;
    background-color: #c9b2c2;
    color: rgb(107, 75, 75);
    padding: 20px;

}

.main{
    margin-left: 250px; 
    padding: 20px;
    background-color: rgb(113, 147, 167);
}

h1{
    margin: 0 0 15px;
    background-color: rgb(196, 236, 236);
}

ul {
    padding: 10px;
    font-size: 22px;
}

li:hover{
    text-decoration: underline;
}
p{
    font-size: 23px;
    text-align: justify;
    background-color: rgb(161, 219, 236);
}